.page-favorites {
  background-color: #7045B5;
  min-height: 100vh;
  width: 100%;
}

.favorites-content {
  margin: 70px auto;
  height: 60vh;
  width: 26em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.favorites-loading {
  margin-top: 150px;
}

@media screen and (max-width: 500px) {
  .favorites-main {
    display: flex;
    justify-content: center;
  }

  .favorites-content {
    height: auto;
    margin: 40px auto;
  }
}
